html, body{
	background-color: #EEEEEE;
	font-family: 'Pacifico', cursive;
}

#main-container{
	margin-top:50px;
	text-align: center;
}


.cover{
	position: relative;
	width:100%;
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}
.cover img{
	position: absolute;
	width: 100%;
	height:100vh;
	z-index:1;
}
.cover h1, .cover p{
	position: relative;
	z-index: 2;
	color:white;
}
.cover h1{
	font-family: 'Lobster', cursive;
	font-size: 72px;
}
.cover p{
	font-size: 20px;
}


.custom-container{
	background-color: white;
	border:1px solid #E0E0E0;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top:70px;
}
.thumbnail{
	padding: 0;
}



/* NAV BAR */
.navbar-default{
	background-color: #D32F2F;
	border:none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
	transition: 0.3s;
	color:white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color:#D32F2F;
	background-color: white;
}
